[submodule "client"]
	path = client
	url = https://github.com/earlfunk21/django-nextjs-nextauth-example.git

[submodule "server"]
	path = server
	url = https://github.com/earlfunk21/django-nextjs-nextauth-example.git
	branch = server
